# folders to exclude
.vs/
Debug/
Release/
x64/Debug/
x64/Release/
LightAlwaysOnTop/
[Bb]in/
[Oo]bj/


# files to exclude
*.exe
*.dll
*.lib
*.pdb
*.obj
*.ilk
*.idb
*.exp
*.res
*.aps
*.sdf
*.opensdf
*.VC.db
*.opendb
*.cachefile
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.lastbuildstate
*.vssscc
*.vspscc
*.tmp
*.bak
*.swp
*.DS_Store